# Virtual environment
.venv/

# Workspace
.vscode/
**/__pycache__/

# Environment variables
.env

# Misc
cmds.txt
TODO.md
**/query.py
hardware_error_log.md
testing.py

# Llama-cpp build
build/
llama/
llama.cpp/

# Log
**/model_log.csv
**/log.jsonl*

# Data
**/data/